// Write your styles here
@mixin transition {
	transition: all 0.3s;
}
@mixin hover {
	color: $btnBGColor;
	background-color: $btnTextColor;
	font-weight: bold;
}
@mixin active {
	border: 1px solid $btnBGColor;
	background-color: lighten($btnBGColor, 50%);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font: $font;
	background-color: $bodyBG;
	color: $textColor;
	width: calc(100vw - (100vw - 100%));
}
.main-wrapper {
	width: 100%;
}
header {
	margin: 0;
	padding: 0;
	background-image: url($BGImg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
	position: relative;
	.top-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		.logo {
			img {
				max-height: 130px;
			}
		}
		nav {
			width: 60%;
			a {
				display: block;
				float: left;
				color: $headColor;
				text-decoration: none;
				text-transform: uppercase;
				height: 40px;
				width: 33.33%;
				text-align: center;
				line-height: 40px;
				font-weight: bold;
				border-right: 2px solid $articleBG;
				@include transition;
				&:last-of-type {
					border: none;
				}
				&:hover {
					color: $btnBGColor;
					font-size: 30px;
					text-shadow:  2px 2px 1px $articleBG;
					@include transition;
				}
			}
		}
	}
	section {
			color: $headColor;
			text-transform: uppercase;
			width: 100%;
			position: absolute;
			top: 50%;
			h1 {
				text-align: center;
			}
			a {
				display: block;
				height: 40px;
				width: 180px;
				line-height: 40px;
				font-size: 12px;
				text-align: center;
				background-color: $btnBGColor;
				color: $btnTextColor;
				text-decoration: none;
				margin: 15px auto;
				@include transition;
				&:hover {
					@include hover;
					@include transition;
				&:active {
					@include active;
				}
			}
			}
		}
	
}
main {
	width: 960px;
	margin: 0 auto;
	padding: 0;
	.toolbar {
		padding: 15px 5px 0;
		display: flex;
		justify-content: flex-end;
		input {
			height: 35px;
			padding: 0 0 0 15px;
			outline: none;
			background-color: $bodyBG;
			outline: none;
			border: 1px solid $hrLine;
		}
	}
	#list {
		h1 {
			margin-top: 10px;
			text-transform: uppercase;
			text-align: right;
		}
		article {
			display: flex;
			flex-flow: row nowrap;
			background-color: $articleBG;
			padding: 10px;
			margin-bottom: 20px;
			img {
				max-width: 300px;
				max-height: 300px;
			}
			.post {
				margin: 0 10px;
			}
			.post-description {
				color: $articleTimeColor;
				font-weight: bold;
				padding: 5px 0 10px 5px;
				font-size: 12px;
				border-bottom: 1px solid $hrLine;
			}
			h3 {
				color: $articleTitleColor;
				text-transform: uppercase;
				padding-top: 5px;
			}
			.btn {
				height: 35px;
				width: 180px;
				margin-top: 20px;
				margin-left: calc(100% - 190px);
				color: $btnTextColor;
				background-color: $btnBGColor;
				@include transition;
					border: none;
					outline:none;
					cursor: pointer;
				&:hover {
					border: 1px solid $btnBGColor;
					@include hover;
					@include transition;
				}
				&:active {
					@include active;
				}
			}
		}
	}
	#about {
		padding: 0 10px;
		h1 {
			text-transform: uppercase;
			text-align: right;
		}
		p {
			margin-bottom: 20px;
		}
		img {
			width: 100%;
		}
	}
	#contact {
		padding-top: 40px;
		h1 {
			text-align: right;
		}
		h4 {
			text-transform: uppercase;
			text-align: right;
			margin-bottom: 20px;
		}
		form {
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			label {
				display: block;
				text-align: right;
				color: $articleTitleColor;
				width: 49.5%;
				margin-bottom: 15px;
				&[id="textarea"] {
					width: 100%;
				}
				&[id="submit"] {
					width: 100%;
				}
				input {
					width: 100%;
					height: 40px;
					background-color: $bodyBG;
					outline: none;
					border: 1px solid $hrLine;
					padding-left: 10px;
					&[type="submit"] {
						width: 180px;
						height: 35px;
						color: $btnTextColor;
						background-color: $btnBGColor;
						outline: none;
						border: 1px solid $btnBGColor;
						margin-top: 5px;
						padding: 0;
						@include transition;
						&:hover {
							@include transition;
							@include hover;
						}
						&:active {
							@include active;
						}
					}
				}
				textarea {
					width: 100%;
					overflow: hidden;
					background-color: $bodyBG;
					outline: none;
					padding: 5px;
					border: 1px solid $hrLine;
				}
			}
		}
	}
}
footer {
	padding-left: 20px;
}