$font: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$BGImg: '../img/header_background_v2.jpg';
$bodyBG:  #EFEFEF;
$textColor:#757575;
$headColor: #FF4000;
$btnTextColor: #FFFFFF;
$articleBG: #FFFFFF;
$articleTitleColor: #2F4F4F;
$btnBGColor: #0401AC;
$articleTimeColor: #D8D8D8;
$hrLine: #DCDCDC;