$font: normal 300 15px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$BGImg: '../img/header_background_v1.jpg';
$bodyBG: #FFFFFF;
$textColor:#000000;
$headColor: #FFFFFF;
$btnTextColor: #FFFFFF;
$articleBG: #EFEFEF;
$btnBGColor: #01ACAC;
$articleTitleColor: #01ACAC;
$articleTimeColor: #E90303;
$hrLine: #696969;